# Neovim compiled plugin files
.config/nvim/plugin/packer_compiled.lua
.config/github-copilot/

# To update encrypted files: git update-index --no-assume-unchanged <file>
# Anything in .ssh that isn't keys or config
.ssh/
!.ssh/config
!.ssh/id_25519
!.ssh/id_25519.pub

# Script config customisation is kept in .conf files
scripts/*.conf

# Temporarily ignore git folder so the symlink doesn't break on my arch machine
git

# Any secrets
**/*.secret

# Weather polybar module LAT and LON persistence to avoid calling the geolocation API every time
**/weather.sh.config
